.BlogCard__container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    margin: 1rem;
}

.blogcard__link{
    text-decoration: none;
}

.blogcard__link:hover{
    color: darkorchid;
}

.BlogCard__container{
    text-align: center;
}

.blogcard__input-container{
    margin-bottom: 0.5rem;
}


@media only screen and (min-width:40.1rem) {

    .blogcard__input-container{
        display: flex;
        flex-direction: row;
        width: 75%;
        justify-content: space-between;
}
}